* {
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}

.headerstyle{
    background-color: brown;
    color: aliceblue;
    height: 60px;
    text-align: center;
    margin: 2%;

}
.navStyle{
    background-color: aqua;
    color: black;
    height: 500px;
    width: 700px;
    text-align: center;
    float: left;
    margin: 2%;
    
}
.artStyle{
    background-color: blueviolet;
    color: black;
    height: 130px;
    width: 500px;
    float: right;
    margin: 2%;
    text-align: center;
    

}
.footerStyle{
    background-color: aquamarine;
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

}